<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title></title>
		<script src="./js/global.js"></script>
		<script src="./js/vue.min.js"></script>
		<script src="./js/axios.min.js"></script>
		<script src="./js/jquery-2.1.4.js"></script>
		<link rel="stylesheet" href="./css/styles.css">
		<script src="./js/mescroll.min.js"></script>
		<link rel="stylesheet" href="./css/mescroll.min.css">
	</head>

	<body>
		<div id="app" v-cloak>
				<header class="topbar">
					<span class="fl" @click="backLastPage">
	            <img src="images/head_ic_back.png">
			</span>
				<div>
					<!-- E1-会员卡详情 -->
					<h2>{{language.membership_card_details}}</h2>
					<span class="fr" @click="setTop">{{getComTop()}}</span>
				</header>
				<div id="mescroll" class="mescroll">
				<div class="loadMoudle" @touchstart="touchStart($event)" @touchmove="touchMove($event)" :style="{transform: 'translate3d(0,' + top + 'px, 0)'}">
				<div class="h88"></div>
				<div class="card-detail-banner" :style="getBgImg(item.memberCardImg)">
					<img src="images/code.png" alt="" class="icon-code" @click="jumpTo('card-code.html?id='+id)" />
				</div>
				<div class="card clearfix">
					<span class="fl">{{item.shopName}}</span>
					<!--<span class="fr">{{item.firstClassificationName}} > {{item.secondClassificationName}}</span>-->
				</div>
				<div class="card-type">{{item.firstClassificationName}} > {{item.secondClassificationName}}</div>
				<div class="card-attr">
					<ul class="clearfix">
						<li>
							<div class="item-dec">{{language.card_number}}</div>
							<div class="item-con">{{item.cardNumber}}</div>
						</li>
						<li>
							<div class="item-dec">{{language.expire_date}}</div>
							<div class="item-con">{{getTime(item.invalidTime)}}
								<div class="item-con-past" v-if="pastBool">{{getPeroid(item.invalidTime)}}</div>
							</div>
						</li>
						<li @click="jumpTo('grade-msg.html?id='+id)">
							<div class="item-dec">{{language.grade}}</div>
							<!--{{item.level}}级-->
							<div class="item-con">{{item.levelName}}<img src="images/e_ic_r.png" alt="" /></div>
						</li>
					</ul>
				</div>
				<div class="card-info-list">
					<ul>
						<li @click="jumpTo('integral-record.html?id='+id)">
							<span class="fl">{{language.integral}}</span>
							<span class="fr bg-color">{{item.integral}}<img src="images/a4_ic_jump.png" alt="" /></span>
						</li>
						<li @click="jumpTo('card-explain.html?id='+id)">
							<span class="fl">{{language.more_instructions}}</span>
							<span class="fr"><img src="images/a4_ic_jump.png" alt="" /></span>
						</li>
					</ul>
				</div>
				<div class="discounts-tit">{{language.can_offer}}</div>
				<div class="mer-discounts-list">
					<ul>
						
						<li :class="getCouCla(c.getStatus,c.surplusNum,c.invalidTime)" v-for="c in couitems" @click="getCoupon(c.getStatus,c.type,c.id,c.integral,c.name,c.accountCouponId,c.surplusNum)">
							<span class="fl"><img :src="getCouponImg(c.img)"/></span>
							<span class="fr">
		    			<span class="item-name"><i v-if="c.type == 2">【{{c.integral}}{{language.integral}}】</i>{{c.name}}</span>
							<span class="item-num">{{language.remaining_number_of_sheets}}：{{c.surplusNum}}/{{c.allNum}}</span>
							<span class="item-dec">{{c.useExplain}}&nbsp;</span>
							<span class="item-time">{{language.effective_period}}：{{c.effectTime}}-{{c.invalidTime}}</span>
							</span>
							<button class="btn clearfix">{{getCouTxt(c.getStatus,c.type,c.surplusNum,c.invalidTime)}}</button>
						</li>
					</ul>

					<div class="page-status" v-if="noneData">
						<img src="images/empty_box.png" />{{language.empty_no_no}}
					</div>
				</div>
			</div>

			<div class="h98" v-if="pastBool || applyBool"></div>
			<div class="bottom-btns card-bottom" v-if="pastBool && !applyBool">
				<button @click="apply">{{language.application_for_renewal}}</button>
			</div>
			<div class="bottom-btns bottom-status" v-if="applyBool">
				<button>
		    		<span class="btn-status">{{language.already_applied}}</span>
		    		<span class="btn-dec">{{language.the_information_you_submitted_is_under_review}}</span>
		    	</button>
			</div>

			<div class="mask" v-if="interBool" @click="cancle"></div>
			<div class="popup" v-if="interBool">
				<div class="pop-con">
					{{language.whether_to_confirm_the_use}}<span class="num">{{integral}}{{language.integral}}</span>{{language.exchange}}<br /> {{couname}}
				</div>
				<div class="btns">
					<button @click="cancle">{{language.cancel}}</button>
					<button @click="confirm">{{language.confirm}}</button>
				</div>
			</div>
		</div>
		</div>
		
		<script type="text/javascript">
			new Vue({
				mounted() {
					if(getUrlParam("id") != null && typeof(getUrlParam("id")) != "undefined") {
						this.id = getUrlParam("id");
					}
					if(getUrlParam("indexId") != null && typeof(getUrlParam("indexId")) != "undefined") {
						this.indexId = getUrlParam("indexId");
					}
					         	// this.id = 6;//暂时写死
					this.getDetail();
					
					
				},
				el: "#app",
				data: { 
					// 第一次进来初始化下拉刷新插件
					firstRefresh:true,
					// 返回的商户ID
					indexId:'',
					language:language,
					applyBool: false,
					item: {},
					id: "",
					shopId: "",
					couitems: [],
					pastBool: false,
					interBool: false,

					type: 1,
					integral: 0,
					couname: "",
					couponId: "",
					accountCouponId: "",
					//下拉加载
					noneData: false,
					pageSize: 20,
					pageNumber: 1,
					totalNum: 0,
					top: 0,
					startY: 0,
					pullUpState: 0, // 1:上拉加载更多, 2:加载中……, 3:我是有底线的
					isLoading: false, // 是否正在加载

				},
				methods: {
					// 下拉刷新
					refresh(){
						const vm = this;
						var mescroll = new MeScroll("mescroll", { //第一个参数"mescroll"对应上面布局结构div的id (1.3.5版本支持传入dom对象)
					//如果您的下拉刷新是重置列表数据,那么down完全可以不用配置,具体用法参考第一个基础案例
					//解析: down.callback默认调用mescroll.resetUpScroll(),而resetUpScroll会将page.num=1,再触发up.callback
					down: {
						callback: downCallback //下拉刷新的回调,别写成downCallback(),多了括号就自动执行方法了
					},
					// up: {
					// 	callback: upCallback, //上拉加载的回调
					// 	//以下是一些常用的配置,当然不写也可以的.
					// 	page: {
					// 		num: 0, //当前页 默认0,回调之前会加1; 即callback(page)会从1开始
					// 		size: 10 //每页数据条数,默认10
					// 	},
					// 	htmlNodata: '<p class="upwarp-nodata">-- END --</p>',
					// 	noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于5才显示无更多数据;
					// 			// 避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
					// 			// 这就是为什么无更多数据有时候不显示的原因.
					// 	toTop: {
					// 		//回到顶部按钮
					// 		src: "../img/mescroll-totop.png", //图片路径,默认null,支持网络图
					// 		offset: 1000 //列表滚动1000px才显示回到顶部按钮	
					// 	},
					// 	empty: {
					// 		//列表第一页无任何数据时,显示的空提示布局; 需配置warpId才显示
					// 		warpId:	"xxid", //父布局的id (1.3.5版本支持传入dom元素)
					// 		icon: "../img/mescroll-empty.png", //图标,默认null,支持网络图
					// 		tip: "暂无相关数据~" //提示
					// 	},
					// 	lazyLoad: {
					// 			use: true, // 是否开启懒加载,默认false
					// 			attr: 'imgurl' // 标签中网络图的属性名 : <img imgurl='网络图  src='占位图''/>
					// 		}
					// 		}
					});
						//下拉刷新的回调
						function downCallback() {
							if(!vm.firstRefresh){
								vm.getDetail();
							}
							if(vm.firstRefresh){
								vm.firstRefresh = false;
							}
							// console.log("inininindownCallbackdownCallback");
							// vm.couponList()
							setTimeout(()=>{
								mescroll.endSuccess();
							},1000)
							// $.ajax({
							// 	url: 'xxxxxx',
							// 	success: function(data) {
							// 		//联网成功的回调,隐藏下拉刷新的状态;
							// 		mescroll.endSuccess(); //无参. 注意结束下拉刷新是无参的
							// 		//设置数据
							// 		//setXxxx(data);//自行实现 TODO
							// 	},
							// 	error: function(data) {
							// 		//联网失败的回调,隐藏下拉刷新的状态
							// 		mescroll.endErr();
							// 	}
							// });
						}
					},
					backLastPage(){
						if(getUrlParam("merchantIndex") != null && typeof(getUrlParam("merchantIndex")) != "undefined"){
							// history.go(-1);
							jumpTo("merchant-index.html?id="+this.indexId);
						}else{
							jumpTo('http://www.dzhyk.com/card-list.html');
						}
					},
					getCouponImg(coverImg){
						if(coverImg == "" || coverImg == null){
							return "./images/default_coupons.png"
						}
						return coverImg
					},
					//确认兑换
					confirm() {
						let vm = this;
						const url = baseUrl + '/app/appAccount/receiveCoupon.json';
						let formData = new FormData();
						formData.append('sessionId', sessionId);
						formData.append('couponId', vm.couponId);
						axios.post(url, formData).then(res => {
							if(!goLogin(res.data, window.location.href)) {
								return;
							}
							if(res.data.code == 2000000) {
								warmHint(language.successful_redemption);
								setTimeout(function() {
									jumpTo('coupon-more.html?id=' + res.data.data.accountCouponId + "&page=card&cardId=" + vm.id);
								}, 2000)
							} else {
								warmHint(res.data.message);
							}
						});
					},
					//下拉加载
					touchStart(e) {
						this.startY = e.targetTouches[0].pageY
					},
					touchMove(e) {
						if(e.targetTouches[0].pageY < this.startY) { // 上拉
							this.judgeScrollBarToTheEnd()
						}
					},

					// 判断滚动条是否到底
					judgeScrollBarToTheEnd() {
						let innerHeight = document.querySelector('.loadMoudle').clientHeight
						// 变量scrollTop是滚动条滚动时，距离顶部的距离
						let scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop
						// 变量scrollHeight是滚动条的总高度
						let scrollHeight = document.documentElement.clientHeight || document.body.scrollHeight
						// 滚动条到底部的条件
						if(scrollTop + scrollHeight >= innerHeight) {
							if(this.pullUpState !== 3 && !this.isLoading && !this.noneData) {
								this.pullUpState = 1;
								this.infiniteLoad();
								this.pageNumber++;
								this.couponList();
							}
						}
					},
					infiniteLoad() {
						this.pullUpState = 2;
						this.isLoading = true;
						setTimeout(() => {
							this.infiniteLoadDone();
						}, 800)
					},
					infiniteLoadDone() {
						this.pullUpState = 0;
						this.isLoading = false
					},
					cancle() {
						this.interBool = false;
					},
					apply() {
						//申请续会执行的接口
						let vm = this;
						const url = baseUrl + '/app/appAccount/joinMemberByShopId.json';
						let formData = new FormData();
						formData.append('sessionId', sessionId);
						formData.append('shopId', vm.shopId);
						axios.post(url, formData).then(res => {
							if(!goLogin(res.data, window.location.href)) {
								return;
							}
							if(res.data.code == 2000000) {
								warmHint(language.successful_application_for_renewal);
								vm.applyBool = true;
							} else if(res.data.code == 5000134) {
								vm.applyBool = true;
							} else {
								warmHint(res.data.message);
							}

						});
					},
					getTime(time) {
						if(time.length > 10) {
							return time.substr(0, 10);
						} else {
							return time;
						}
					},
					getPeroid(time) {
						if(this.item.invalidStatus == 1){
							return "("+language.expired+")";
						}
//						if(parseInt(new Date().getTime()) - parseInt(new Date(time).getTime()) > 0) {
//							this.pastBool = true;
//							return "(已过期)";
//						}
					},
					//优惠券列表
					couponList() {
						let vm = this;
						const url = baseUrl + '/app/fansCircle/getAppCouponDtoByShopId.json';

						let formData = new FormData();
						formData.append('sessionId', sessionId);
						formData.append('shopId', vm.shopId);
						formData.append('pageNumber', vm.pageNumber);
						formData.append('pageSize', vm.pageSize);
						axios.post(url, formData).then(res => {
							if(!goLogin(res.data, window.location.href)) {
								return;
							}
							if(res.data.code == 2000000) {
								vm.couitems = vm.couitems.concat(res.data.data);
								if(vm.pageNumber == 1 && res.data.data.length == 0) {
									vm.noneData = true;
								} else {
									vm.noneData = false;
								}
							} else {
								warmHint(res.data.message);
							}
						});
					},
					//领取优惠券
					getCoupon(status, type, id, integral, name, accountCouponId,num) {
						if(num == 0){
							warmHint(language.have_finished);
							return;
						}
						//0未领取
						if(status == 0) {
							//type=1普通优惠券
							if(type == 1) {
								let vm = this;
								const url = baseUrl + '/app/appAccount/receiveCoupon.json';
								let formData = new FormData();
								formData.append('sessionId', sessionId);
								formData.append('couponId', id);
								axios.post(url, formData).then(res => {
									if(!goLogin(res.data, window.location.href)) {
										return;
									}
									if(res.data.code == 2000000) {
										warmHint(language.successfully_received);
										setTimeout(function() {
											jumpTo('coupon-more.html?id=' + res.data.data.accountCouponId + "&page=card&cardId=" + vm.id);
										}, 2000)
									} else {
										warmHint(res.data.message);
									}
								});
							} else {
								//type=2积分优惠券
								this.interBool = !this.interBool;
								this.integral = integral;
								this.couname = name;
								this.couponId = id;
								this.accountCouponId = accountCouponId;
							}
						} else {
							jumpTo('coupon-more.html?id=' + accountCouponId + "&page=card&cardId=" + vm.id);
						}
					},
					getCouTxt(status, type, num,invalidTime) {
						let now = new Date(new Date().getFullYear(),(new Date().getMonth()),new Date().getDate(),0,0,0);
						//未領取
						if(status == 0) {
							//是否已領完
							if(num == 0) {
								return language.have_finished;
							}else{
								//是否已過期
								if(new Date(invalidTime).getTime()<new Date(now).getTime()){
									return language.expired;
								}
								if(type == 2) {
									return language.redeem_now;
								} else{
									return language.get_it_right_now;
								}
							}
						} else if(status == 1) {
							return language.received;
						}
					},
					getCouCla(status, num,invalidTime) {
						let now = new Date(new Date().getFullYear(),(new Date().getMonth()),new Date().getDate(),0,0,0);
						//未领取
						if(status == 0) {
							//是否已领完
							if(num == 0) {
								return "item-finished";
							}else{
								//是否已过期
								if(new Date(invalidTime).getTime()<new Date(now).getTime()){
									return "item-past";
								}
								return "item-new";
							}
						} else if(status == 1) {
							return "item-get";
						}
					},
					
					
//					getCouTxt(status, type) {
//						if(status == 0) {
//							if(type == 2) {
//								return "立即兑换";
//							} else {
//								return "立即领取";
//							}
//						} else if(status == 1) {
//							return "已领取";
//						}
//					},
//					//返回什么状态的背景图
//					getCouCla(status) {
//						if(status == 0) {
//							return "item-new";
//						} else if(status == 1) {
//							return "item-get";
//						} else {
//							return "item-past";
//						}
//					},
					//设置置顶
					setTop() {
						let vm = this;
						const url = baseUrl + '/app/appAccount/setTopStatusByMemberCardId.json';
						let formData = new FormData();
						formData.append('sessionId', sessionId);
						formData.append('memberCardId', vm.id);
						if(this.item.topStatus == 0) {
							formData.append('topStatus', 1);
						} else if(this.item.topStatus == 1) {
							formData.append('topStatus', 0);
						}
						axios.post(url, formData).then(res => {
							if(!goLogin(res.data, window.location.href)) {
								return;
							}
							if(res.data.code == 2000000) {
								if(vm.item.topStatus == 0) {
									warmHint(language.topped);
									vm.item.topStatus = 1;
								} else if(vm.item.topStatus == 1) {
									warmHint(language.cancelled);
									vm.item.topStatus = 0;
								}
							} else {
								warmHint(res.data.message);
							}
						});
					},
					//获取是否置顶
					getComTop() {
						if(this.item.topStatus == 0) {
							return language.topping;
						} else if(this.item.topStatus == 1) {
							return language.unpin;
						}
					},
					//					getBgImg(bg) {
					//						
					//						return "background-image:url('" + bg + "')";
					//					},
					getBgImg(memberCardImg) {
						if(memberCardImg == "" || memberCardImg == null) {
							return "background-image: url('./images/c2_card_w.png')";
						}
						return "background-image: url('" + memberCardImg + "')";
					},
					getDetail() {
						let vm = this;
						const url = baseUrl + '/app/appAccount/getMemberCardView.json';
						let formData = new FormData();
						formData.append('sessionId', sessionId);
						formData.append('memberCardId', vm.id);
						axios.post(url, formData).then(res => {
							if(!goLogin(res.data, window.location.href)) {
								return;
							}
							if(res.data.code == 2000000) {
								vm.item = res.data.data;
								vm.shopId = vm.item.shopId;
								vm.couponList();
								if(vm.item.invalidStatus == 1) {
									vm.pastBool = true;
								}
								if(vm.item.applyStatus == 1) {
									vm.applyBool = true;
									//									vm.pastBool = false;
								}
								// 初始化下拉刷新插件,只在第一次
								if(vm.firstRefresh){
									vm.$nextTick(()=>{
										vm.refresh();
									})
								}
							} else {
								warmHint(res.data.message);
							}
						});
					}
				}
			});
		</script>
	</body>

</html>