<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="./js/global.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div id="app" v-cloak>
	    <header class="topbar">
	        <span class="fl" @click="jumpTo('http://www.dzhyk.com/card-list.html');">
	            <img src="images/head_ic_back.png">
			</span>
			<!-- C2-2领取会员卡 -->
	        <h2>{{language.membership_card_details}}</h2>
	    </header>  
	    <div class="h88"></div>
	    <div class="card-detail-banner" :style="getBgImg(item.memberCardImg)">
	    	<!--<div class="card-grade">白金會員</div>
	    	<div class="card-grade-eng">PLATINUM MEMBER</div>-->
	    </div>
	    <div class="card-detail">
	    	<div class="tit" @click="jumpTo('card-explain.html?id='+id+'&noget=true')"><img src="images/c2_instructions.png"/>{{language.more_instructions}}</div>
	    	<div class="card-detail-attr clearfix">
	    		<span class="fl">{{item.userName}}</span>
	    		<span class="fr">{{item.firstClassificationName}}>{{item.secondClassificationName}}</span>
	    	</div>
	    	<div class="btns">
	    		<button class="btn" @click="submit">{{language.apply_for_membership_card}}</button>
	    	</div>
	    </div>
	    <div class="mask" v-if="popBool"></div>
	    <div class="popup" v-if="popBool">
	    	<div class="pop-con">
		    	{{language.sorry_not_complete}}。<br />
		    	{{language.please_add_the_information_and_apply_for_membership_card}}
	    	</div>
	    	<div class="btns">
	    		<button @click="cancle">{{language.cancel}}</button>
	    		<button @click="jumpTo('http://www.dzhyk.com/update-info.html?id='+id)">{{language.confirm}}</button>
	    	</div>
	    </div>
    </div>
    <script type="text/javascript">
        new Vue({
            mounted(){
            	if(getUrlParam("id") != null && typeof(getUrlParam("id")) != "undefined"){
            		this.id = getUrlParam("id");
                }
            	this.getDetail();
            },
            el:"#app",
            data: { language:language,
                item:{},
                id:"",
                popBool:false
            },
            methods:{
            	cancle(){
            		this.popBool = false;
            	},
            	getBgImg(memberCardImg){
            		if(memberCardImg == "" || memberCardImg == null){
            			return "background-image: url('./images/c2_card_w.png')";	
            		}
            		return "background-image: url('"+memberCardImg+"')";
            	},
                submit(){
            		let vm = this;
                    const url = baseUrl + '/app/appAccount/checkMyMsg.json';
                    let formData = new FormData();
                    formData.append('sessionId',sessionId);
                    axios.post(url, formData).then(res => {
                        if(!goLogin(res.data,window.location.href)){
							return;	
						}
                        if (res.data.code == 2000000) {
                        	jumpTo("member-protocol.html?id="+vm.id+"&shopName="+getUrlParam("shopName"));
                        } else {
                        	vm.popBool = true;
//                          warmHint(res.data.message);
                        }
                    });
                },
                getDetail(){
            		let vm = this;
                    const url = baseUrl + '/app/appAccount/getReceiveMemberCardMsg.json';
                    let formData = new FormData();
                    formData.append('sessionId',sessionId);
                    formData.append('shopId',vm.id);
                    axios.post(url, formData).then(res => {
                        if(!goLogin(res.data,window.location.href)){
							return;	
						}
                        if (res.data.code == 2000000) {
                        	vm.item = res.data.data;
                        } else {
                            warmHint(res.data.message);
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>