<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="./js/global.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div id="app" v-cloak>
	    <header class="topbar">
	        <span class="fl" onClick="javascript:history.go(-1)">
	            <img src="images/head_ic_back.png">
            </span>
            <!-- H3-手动输入 -->
	        <h2>{{language.user_code_membership_code_coupon_code}}</h2>
	    </header>  
	    <div class="h88"></div>
	    <div class="inps">
	    	<input type="text" :placeholder="language.please_enter_the_user_code_membership_code_coupon_code" v-model="code" />
	    	<img src="images/b2_guan.png" v-if="code.length > 0" @click="code = ''"/>
	    </div>
	    <div class="btns">
	    	<div class="btn" @click="submit">{{language.confirm}}</div>
	    </div>
    </div>
    <script type="text/javascript">
        new Vue({
            mounted(){
            	
            },
            el:"#app",
            data: { language:language,
                code:""
            },
            methods:{  
                submit(){
                	let vm = this;
                    const url = baseUrl + '/app/accountShop/scanfQrcode.json';
                    let formData = new FormData();
                    formData.append('sessionId',sessionId);
                    formData.append('code',vm.code);
                    axios.post(url, formData).then(res => {
                        if(!goLogin(res.data,window.location.href)){
							return;	
						}
                        if (res.data.code == 2000000) {
//                      	type 1-用戶未加入(會員已經過期) 2-用戶已經加入 3-優惠卷
                        	if(res.data.data.type == 1){
								 jumpTo("member-detail.html?id="+res.data.data.id);
                        	}else if(res.data.data.type == 2){
								 jumpTo("http://www.dzhyz.com/member-detail.html?id="+res.data.data.id)  //G2-3-會員詳情頁面（已加入）
                        	}else if(res.data.data.type == 3){
								 jumpTo("coupon.html?id="+res.data.data.id);
                        	}                                 
                        } else {
                            warmHint(res.data.message);
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>